{% extends 'base.html' %}

{% macro render_field(field)%}

{{ field }}

{% endmacro %}

{% block content %}
<div class="form-wrapper">
    <form method="POST" action="{{ url_for('print_markov') }}">
        <fieldset class="form-field">
            {{ form.class_name.label }}
            {{ form.class_name }}
        </fieldset>

        <table border=1>
            <th>
                {% for field in fields %}
                    <td>{{ field }}</td>
                {% endfor %}
            </th>
            {% for field in fields %}
                <tr>
                    <td>{{ field }}</td>
                    {% for other_field in fields %}
                        <td>
                            <fieldset class="form-field">
                                {{ form|attr(field + "_to_" + other_field)(size=1) }}
                            </fieldset>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        {{ form.fields }}
        {{ form.submit }}
    </form>
</div>
{% endblock %}